.Intro {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 0;
    display: grid;
    grid-template: 0.1fr 0.7fr 0.1fr / 1fr;
    grid-template-areas: 'photo'
                         'text'
                         'button';
    align-content: center;
    align-content: space-around;
    text-align: center;
}
.Pic-part {
    margin-bottom: 20px;
    grid-area: photo;
}
.Pic-part img {
    width: 150px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
}
.Text-part {
    margin: 0 auto;
    max-width: 600px;
    font-size: 1.6rem;
    line-height: 3.5rem;
    grid-area: text;
    align-self: center;
}
.Text-part em {
    display: block;
    font-size: 1.8rem;
}
.Text-part p {
    padding: 0 30px;
    margin-top: 20px;
    text-align: justify;
    line-height: 2.5rem;
}
.Button-See-More {
    width: 200px;
    height: 40px;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    grid-area: button;
}
.Button-See-More a {
    text-decoration: underline;
    color: #092f6e;
}
.Button-See-More:hover {
    transition: 1s;
    background-color: #092f6e;
}
.Button-See-More:hover a {
    text-decoration: none;
    color: #fff;
    opacity: 1;
}

@media (min-width: 880px) {
    .Intro {
        padding: 40px;
        display: grid;
        grid-template-rows: 0.6fr 0.4fr;
        grid-template-columns: 0.6fr 0.4fr;
        grid-template-areas: "text photo"
                             "button photo";
        place-content: center;
    }
    a:hover {
        opacity: 0.6;
    }
    .Text-part {
        align-self: end;
    }
    .Pic-part {
        margin: 0;
        align-self: start;
    }
    .Pic-part img {
        width: 240px;
        height: 280px;
    }
    .Button-See-More {
        align-self: center;
    }
}