.footer {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #092f6e 10%, #fff 90%);
}
.footer h1 {
    margin-bottom: 30px;
}
.footer .section__social-media {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.footer .section__social-media .social-media__title {
    margin-bottom: 20px;
    color: rgb(142, 3, 3);
}
.footer .section__social-media .social-media__container {
    display: flex;
    flex-direction: column;
}
.footer .section__social-media .social-media__container a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 120px;
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: rgb(142, 3, 3);
    text-decoration: underline;
}
.footer .section__social-media .social-media__container a:hover {
    opacity: 0.6;
}
.SkillsTitle {
    margin-bottom: 20px;
    text-align: center;
    color: rgb(142, 3, 3);
}
.SkillsContainer  {
    /* border: 2px solid rgb(142, 3, 3); */
    padding: 10px;
}
.SkillsContainer td {
    width: 120px;
    height: 40px;
    text-align: center;
    margin: 5px;
    font-size: 1.6rem;
    /* border: 1px solid #fff; */
    color: rgb(142, 3, 3);
}
.SkillsContainer th {
    color: rgb(142, 3, 3);
    font-size: 1.8rem;
}

@media (min-width: 700px) {
    .footer {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }
    .footer .section__social-media .social-media__container {
        flex-direction: row;
    }
}