.ProjectsContainer {
  width: 100%;
  padding: 20px;
}
.ProjectsTitle {
  margin: 20px;
  text-align: center;
  font-size:3rem;
}
.ItemsContainer {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
